.header {
  position: relative;
  top: 0;
  height: 80px;
  width: 100%;
  background: $base-color;
  margin-bottom: 80px;

  @include mq('sp') {
    margin-bottom: 32px;
    height: 50px;
  }

  .header-wrapper {
    @include flex($align: center, $justify: space-between);
    height: 100%;

    @include mq('sp') {
      justify-content: center;
    }
  }

  .header__ttl {
    font-size: 1.6rem;
    color: #fff;
    // color: #000;

    @include mq('sp') {
      font-size: 16px;
    }
  }

  .header__link {
    background-color: $base-color;
    color: inherit;
  }
}
